<!DOCTYPE html>
<html lang="en">
<%= render partial: 'shared/assets' %>
<body>
<div class="min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<%= render partial: 'shared/menu', locals: {active: "rated-items", appearance: "dark"} %>
	</div>
	<div class="row w-100 m-auto">
		<div class="col-12">
			<div class="heading text-center color-dark">
				<h4>Publications</h4>
				<p class="lead mb-0">See the publications which have been indexed and their quality scores.</p>
			</div>
		</div>
		<div class="col-lg-10 col-sm-10 col-xs-12 m-auto">
			<table id="publications-table" class="table table-hover datatable" style="width:100%">
				<thead>
				<tr>
					<th>DOI</th>
					<th>Title</th>
					<th>Subject</th>
					<th>Author</th>
					<th>Your Rating</th>
					<th>Score (RSM)</th>
					<th>Score (TRM)</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<% @publications.each do |publication| %>
					<% given_rating = @user.given_rating(publication) %>
					<tr>
						<% if publication.doi.present? %>
							<td><%= publication.doi %></td>
						<% else %>
							<td class="empty-cell"></td>
						<% end %>
						<% if publication.title.present? %>
							<td><%= publication.title %></td>
						<% else %>
							<td class="empty-cell"></td>
						<% end %>
						<% if publication.subject.present? %>
							<td><%= publication.subject %></td>
						<% else %>
							<td class="empty-cell"></td>
						<% end %>
						<% if publication.author.present? %>
							<td><%= publication.author %></td>
						<% else %>
							<td class="empty-cell"></td>
						<% end %>
						<% if given_rating != nil %>
							<td><%= given_rating.pretty_score %></td>
						<% else %>
							<td class="empty-cell"></td>
						<% end %>
						<td class="text-center"><%= publication.pretty_score_rsm %></td>
						<td class="text-center"><%= publication.pretty_score_trm %></td>
						<td><a target="_blank" href="<%= publication.pdf_url %>" class="btn btn-primary"><i class="fas fa-external-link-alt"></i></a></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row w-100 mt-3">
		<%= render partial: "shared/footer" %>
	</div>
</div>
</body>
</html>