<!DOCTYPE html>
<html lang="en">
<%= render partial: 'shared/assets' %>
<body>
<div class="min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<%= render partial: 'shared/menu', locals: {active: "rated-items", appearance: "dark"} %>
	</div>
	<div class="row w-100 m-auto">
		<div class="col-12">
			<div class="heading text-center color-dark">
				<h4>Readers</h4>
				<p class="lead mb-0">See the readers which have been indexed and their quality scores.</p>
			</div>
		</div>
		<div class="col-lg-10 col-sm-10 col-xs-12 m-auto">
			<table id="users-table" class="table table-hover datatable" style="width:100%">
				<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>ORCID</th>
					<th>Score (RSM)</th>
					<th>Score (TRM)</th>
				</tr>
				</thead>
				<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.first_name %></td>
						<td><%= user.last_name %></td>
						<% if user.orcid.present? %>
							<td>
								<img src="<%= image_path("orcid_id.gif") %>" alt="ORCID ID"> <a target="_blank" href="<%= user.orcid_url %>"><%= user.orcid_url %></a>
							</td>
						<% else %>
							<td class="empty-cell"></td>
						<% end %>
						<td class="text-center"><%= user.pretty_score_rsm %></td>
						<td class="text-center"><%= user.pretty_score_trm %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row w-100 mt-3">
		<%= render partial: "shared/footer" %>
	</div>
</div>
</body>
</html>
