<h1><%= I18n.t "mails.labels.dear" %> <%= @user.first_name %>,</h1>
<p>
	<%= I18n.t "mails.user.registration_successful" %>
</p>
<p><%= I18n.t "mails.labels.cheers" %></p>
<p><%= I18n.t "mails.labels.team" %></p>