<header class="nav-holder make-sticky">
	<div id="navbar" role="navigation" class="navbar navbar-expand-lg <%= "bg-gray-dark" if appearance == "dark" %>">
		<div class="container pl-3 pr-3">
			<a href="<%= root_path %>" class="navbar-brand home">
				<img src="<%= image_path("logo.png") %>" alt="Logo" class="d-none d-md-inline-block">
				<img src="<%= image_path("logo-small.png") %>" alt="Logo" class="d-inline-block d-md-none">
				<span class="sr-only">Homepage</span></a>
			<button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined">
				<span class="sr-only">Toggle Navigation</span><i class="fa fa-align-justify"></i>
			</button>
			<div id="navigation" class="navbar-collapse collapse text-center">
				<div id="reload-fake-menu-item" class="nav-item w-100 h-100">
					<a href="#" class="<%= "color-white" if appearance == "dark" %>">
						<i class="fas fa-sync-alt fa-spin fa-2x"></i>
					</a>
				</div>
				<ul class="nav navbar-nav mr-auto">
					<li id="home-menu-item" class="nav-item <%= "active" if active == "home" %>">
						<a href="<%= root_path %>" class="<%= "color-white" if appearance == "dark" %>" id="home-btn">
							Home
							<i class="fas fa-home home-icon"></i>
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</a>
					</li>
					<li id="rate-menu-item" class="nav-item">
						<a href="<%= rate_web_path %>" class="<%= "color-white" if appearance == "dark" %>" id="rate-btn">
							Rate
							<i id="pdf-icon" class="fas fa-file-pdf"></i>
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</a>
					</li>
					<li id="rated-items-menu-item" class="nav-item dropdown menu-large <%= "active" if active == "rated-items" %>">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">
							<span class="<%= "color-white" if appearance == "dark" %>">
								Rated Items
								<i class="fas fa-book-reader"></i>
								<b class="caret"></b>
							</span>
						</a>
						<ul class="dropdown-menu megamenu pt-1 pb-1">
							<li>
								<div class="row">
									<div class="col-12">
										<ul class="list-unstyled">
											<li class="nav-item">
												<a href="<%= publications_list_path %>" class="nav-link">Publications</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">Readers</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li id="about-menu-item" class="nav-item dropdown menu-large">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">
							<span class="<%= "color-white" if appearance == "dark" %>">
								About
								<i class="fas fa-info"></i>
								<b class="caret"></b>
							</span>
						</a>
						<ul class="dropdown-menu megamenu pt-1 pb-1">
							<li>
								<div class="row">
									<div class="col-12">
										<ul class="list-unstyled">
											<li class="nav-item">
												<a href="<%= resources_path %>" class="nav-link">Resources</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">Extensions</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li id="user-menu-item" class="nav-item dropdown menu-large">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">
							<span class="<%= "color-white" if appearance == "dark" %>">
								User
							    <i id="user-icon" class="fa fa-user"></i>
								<b class="caret"></b>
							</span>
						</a>
						<ul class="dropdown-menu megamenu pt-1 pb-1">
							<li>
								<div class="row">
									<div class="col-12">
										<ul class="list-unstyled">
											<li class="nav-item ">
												<a href="#" id="profile-btn" data-toggle="modal" data-target="#modal-profile" class="nav-link">
													Profile
												</a>
											</li>
											<li class="nav-item">
												<a id="logout-btn" class="nav-link" href="#">
													Logout
												</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li id="sign-up-menu-item" class="nav-item <%= "active" if active == "sign-up" %>">
						<a id="sign-up-btn" class="<%= "color-white" if appearance == "dark" %>" href="<%= sign_up_path %>">
							Sign Up
							<i class="fa fa-user-plus sign-up-icon"></i>
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</a>
					</li>
					<li id="login-menu-item" class="nav-item <%= "active" if active == "login" %>">
						<a id="login-btn" class="<%= "color-white" if appearance == "dark" %>" href="<%= login_path %>">
							Login
							<i class="fas fa-sign-in-alt sign-in-icon"></i>
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</a>
					</li>
					<li id="bug-menu-item" class="pull-right nav-item <%= "active" if active == "bug" %>">
						<a id="bug-btn" href="<%= bug_path %>" class="<%= "color-white" if appearance == "dark" %>">
							<i id="bug-icon" class="fas fa-bug"></i>
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>