<!DOCTYPE html>
<html lang="en">
<%= render partial: 'shared/assets' %>
<body class="bg-gray-dark color-white">
<div id="login-page" class="min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<%= render partial: 'shared/menu', locals: {active: "home", appearance: "light"} %>
	</div>
	<div class="row ml-auto mr-auto mt-auto mb-0 w-100">
		<div class="col-lg-4 col-sm-8 col-xs-12 m-auto">
			<div class="heading text-center">
				<h1><%= I18n.t("errors.messages.unauthorized") %></h1>
				<% errors.each do |error| %>
					<p class="lead mb-0 text-center"><%= error %></p>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row ml-auto mr-auto mb-auto mt-3 w-100">
		<div class="col-lg-4 col-sm-8 col-xs-12 m-auto text-center">
			<a href="<%= login_path %>" id="go-to-login-btn" class="btn btn-primary w-35 link-white">
				Login
				<i class="fas fa-sign-in-alt sign-in-icon"></i>
				<i class="fas fa-sync-alt fa-spin reload-icon"></i>
			</a>
			<a href="<%= root_path %>" id="go-to-home-btn" class="btn btn-primary w-35 link-white">
				Home
				<i class="fas fa-home home-icon"></i>
				<i class="fas fa-sync-alt fa-spin reload-icon"></i>
			</a>
		</div>
	</div>
	<div class="row w-100 mt-3">
		<%= render partial: "shared/footer" %>
	</div>
</div>
</body>
</html>