<!DOCTYPE html>
<html lang="it">
<head>
	<%= csrf_meta_tags %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag 'rating_web' %>
	<title>RS_Server</title>
</head>
<body class="bg-gray-dark color-white">
<div class="preloader-wrapper">
	<div class="preloader">
		<img src="<%= image_path("preloader.svg") %>" alt="Loading...">
	</div>
</div>
<div class="container min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="container mb-3">
		<div id="buttons-sect" class="row">
			<div class="col-6 p-0">
				<a href="#" data-toggle="modal" data-target="#modal-profile" id="profile-btn" class="btn btn-primary btn-block link-white">
					Profile
					<i id="profile-icon" class="fa fa-user"></i>
					<i class="fas fa-sync-alt fa-spin reload-icon"></i>
				</a>
			</div>
			<div class="col-6 p-0">
				<button type="button" id="logout-btn" class="btn btn-primary btn-block">
					Logout
					<i id="sign-out-icon" class="fas fa-sign-out-alt"></i>
					<i class="fas fa-sync-alt fa-spin reload-icon"></i>
				</button>
			</div>
		</div>
	</div>
	<div id="loading-sect" class="row mt-auto mb-3">
		<div class="col-12">
			<div class="heading text-center">
				<h4>Readersourcing 2.0</h4>
				<p id="check-par" class="lead mb-0">Checking if there is a fetchable publication in PDF format...</p>
			</div>
			<div class="text-center mt-3">
				<h1><i class="fas fa-sync-alt fa-spin"></i></h1>
			</div>
		</div>
	</div>
	<div id="undetected-publication-sect" class="row mt-auto mb-3">
		<div class="col-12">
			<div class="heading text-center">
				<h4>Readersourcing 2.0</h4>
				<p class="lead mb-0">The inserted URL does not contain a rateable publication, please check it again.</p>
			</div>
			<div class="mt-3">
				<button type="button" id="reload-btn" class="btn btn-danger btn-block">
					<i class="fas fa-redo-alt"></i>
					Reload
				</button>
			</div>
		</div>
	</div>
	<div id="rating-sect" class="row mt-auto mb-3 w-100">
		<div class="col-12">
			<div class="heading text-center">
				<h4>Readersourcing 2.0</h4>
				<p id="rating-caption" class="lead mb-0">Rate a publication</p>
				<p id="rating-subcaption" class="lead mb-0">Publication rated with score</p>
			</div>
		</div>
		<div class="col-lg-7 col-sm-10 col-xs-12 m-auto">
			<div class="form-group">
				<label for="publication-url">Publication URL
					<span class="small">(e.g. https://arxiv.org/pdf/1812.05594.pdf)</span>
				</label>
				<form id="rate-form" data-parsley-validate>
					<input id="publication-url" type="text" class="form-control" data-parsley-type="url" required>
				</form>
			</div>
		</div>
		<div class="col-lg-7 col-sm-10 col-xs-12 m-auto text-center rating-sect-sub">
			<input
				id="rating-slider"
				data-slider-id='ratingSlider'
				data-slider-min="0"
				data-slider-max="100"
				data-slider-step="1"
				data-slider-value="50"
				data-tooltip="hide"
				title="Rating Slider"
				class="mb-3"
				/>
		</div>
		<div class="col-lg-7 col-sm-10 col-xs-12 ml-auto mr-auto mb-auto mt-3 text-center rating-sect-sub">
			<h1 id="rating-text"><i class="fas fa-sync-alt fa-spin"></i></h1>
		</div>
		<div class="col-lg-7 col-sm-10 col-xs-12 m-auto rating-sect-sub">
			<button type="button" id="load-rate-btn" class="btn btn-primary btn-block">
				<i class="fas fa-sync-alt fa-spin"></i>
			</button>
			<button type="button" id="vote-btn" class="btn btn-success w-75 m-auto">
				<i class="fas fa-sync-alt fa-spin reload-icon"></i>
				Rate
			</button>
			<a href="#" data-toggle="modal" data-target="#modal-configuration" id="configure-btn"
			   class="btn btn-primary link-white w-24 pull-right">
				<i class="fas fa-cog"></i>
			</a>
			<button type="button" id="vote-success-btn" class="btn btn-success btn-block">
				<i class="fas fa-sync-alt fa-spin reload-icon"></i>
				Rating saved
			</button>
			<button type="button" class="btn btn-danger error-btn btn-block">
				<i class="fa fa-exclamation-triangle danger-icon"></i>
				Error
			</button>
		</div>
		<div id="buttons-caption" class="col-lg-7 col-sm-10 col-xs-12 m-auto rating-sect-sub">
			<div class="col-12 text-center mt-3">
				<p class="lead mb-3">Otherwise</p>
			</div>
		</div>
		<div class="col-lg-7 col-sm-10 col-xs-12 m-auto rating-sect-sub">
			<button type="button" id="load-save-btn" class="btn btn-primary btn-block m-0">
				<i class="fas fa-sync-alt fa-spin reload-icon"></i>
			</button>
			<button type="button" id="save-btn" class="btn btn-primary btn-block m-0">
				<i class="fas fa-sync-alt fa-spin"></i>
				Save For Later
			</button>
			<a href="#" id="download-btn" class="btn btn-primary link-white w-75" target="_blank">
				Download
			</a>
			<a href="#" id="refresh-btn" class="btn btn-primary link-white w-24 pull-right">
				<i class="fas fa-sync-alt"></i>
			</a>
			<button type="button" id="error-btn" class="btn btn-danger btn-block error-btn m-0">
				<i class="fa fa-exclamation-triangle danger-icon"></i>
				Error
			</button>
		</div>
		<div id="publication-score-sect" class="col-lg-7 col-sm-10 col-xs-12 m-auto pt-3">
			<div class="col-12 text-center btn btn-primary btn-block">
				Publication Score (RSM): <span id="publication-score-rsm-val"></span>/100
			</div>
			<div class="col-12 text-center btn btn-primary btn-block">
				Publication Score (TRM): <span id="publication-score-trm-val"></span>/100
			</div>
		</div>
	</div>
	<div class="row mt-auto mb-3 w-100">
		<div class="col-lg-7 col-sm-10 col-xs-12 m-auto">
			<form action="<%= extract_publications_path(format: :json) %>" id="annotated-publication-dropzone" class="dropzone border-primary">
				<div class="dz-default dz-message"><span>Drop your link-annotated publication here</span></div>
			</form>
		</div>
	</div>
	<div class="row mt-auto ml-auto mr-auto mb-0 w-100">
		<%= render partial: "layouts/footer" %>
	</div>
</div>
<div id="modal-profile" tabindex="-1" role="dialog" aria-labelledby="modal-profile-label" aria-hidden="true" class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-profile-label" class="modal-title color-dark">User Profile</h4>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
					aria-hidden="true">X</span></button>
			</div>
			<div class="modal-body">
				<section id="user-score-sect">
					<div class="row">
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">First Name</p>
								<span id="first-name-val"><i class="fas fa-sync-alt fa-spin"></i></span>
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">Last Name</p>
								<span id="last-name-val"><i class="fas fa-sync-alt fa-spin"></i></span>
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">Email</p>
								<span id="email-val"><i class="fas fa-sync-alt fa-spin"></i></span>
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">Score (RSM)</p>
								<span id="user-score-rsm-val"><i class="fas fa-sync-alt fa-spin"></i></span>/100
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">Score (TRM)</p>
								<span id="user-score-trm-val"><i class="fas fa-sync-alt fa-spin"></i></span>/100
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">ORCID</p>
								<span id="orcid-val"><i class="fas fa-sync-alt fa-spin"></i></span>
							</div>
						</div>
						<div class="col-12">
							<div class="box-simple box-dark same-height">
								<p class="lead no-mt">Subscribed (Emails)</p>
								<span id="subscribe-val"><i class="fas fa-sync-alt fa-spin"></i></span>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<div class="row m-auto w-100">
					<div class="col-12 mb-1 p-0">
						<a href="<%= profile_path %>" id="profile-update-btn" class="btn btn-primary btn-block link-white">
							Update Profile
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</a>
					</div>
					<div class="col-12 p-0">
						<a href="<%= edit_path %>" id="password-edit-btn" class="btn btn-primary btn-block link-white">
							Edit Password
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal-configuration" tabindex="-1" role="dialog" aria-labelledby="modal-profile-label" aria-hidden="true"
     class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-options-label" class="modal-title color-dark">Rating Config</h4>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
					aria-hidden="true">X</span></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12 text-center pt-2">
						<input class="form-check-input m-auto" type="checkbox" value="" id="anonymize-check">
						<label class="form-check-label color-dark" for="anonymize-check">
							<strong>Anonymize</strong>
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row m-auto w-100">
					<div class="col-12 p-0">
						<button type="button" id="configuration-save-btn" class="btn btn-success btn-block">
							Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="modal-refresh" tabindex="-1" role="dialog" aria-labelledby="modal-refresh-label" aria-hidden="true"
     class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modal-refresh-label" class="modal-title color-dark">Refresh</h4>
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
					aria-hidden="true">X</span></button>
			</div>
			<div class="modal-body">
				<div class="box-simple box-dark">
					<h5 class="mb-0">Click Below To Refresh</h5>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row w-100 m-auto">
					<div class="col-12 p-0">
						<button type="button" id="modal-refresh-btn" class="btn btn-success btn-block">
							Confirm
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "rating_web" %>
</body>
</html>