<!DOCTYPE html>
<html lang="en">
<%= render partial: 'shared/assets' %>
<body class="bg-gray-dark color-white">
<div class="min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<%= render partial: 'shared/menu', locals: {active: "rate", appearance: "light"} %>
	</div>
	<div class="row m-auto w-100">
		<div class="col-lg-4 col-sm-10 col-xs-12 m-auto">
			<div class="col-12">
				<div class="heading text-center">
					<h4>Rate this publication</h4>
					<p class="lead mb-0">Use the slider below to select a rating for the current publication.</p>
				</div>
			</div>
			<div class="col-12 m-auto">
				<%= form_for @rating, url: load_path, html: {"data-parsley-validate" => ''} do |f| %>
					<div class="row">
						<div class="col-12 text-center">
							<%=
								f.text_field :score,
								             id: 'rating-slider',
								             "data-slider-id": "ratingSlider",
								             "data-slider-max": "100",
								             "data-slider-min": "0",
								             "data-slider-step": "1",
								             "data-slider-value": "50",
								             "data-tooltip": "hide",
								             "title": "Rating Slider"
							%>
							<br/>
						</div>
						<div class="col-12 mb-auto mt-3 text-center">
							<h1 id="rating-text"><span id="rating-text-value">50</span></h1>
						</div>
						<div class="col-12 text-center">
							<%= f.check_box :anonymous, id: "anonymize-check", class: 'form-check-input' %>
							<label class="form-paper-check-label lead" for="anonymize-check">
								<%= I18n.t "labels.anonimyze" %>
							</label>
						</div>
						<div class="col-12 text-center mb-3">
							<%= button_tag(type: 'submit', id: "vote-paper-btn", class: "btn btn-success w-35") do %>
								<i class="fas fa-sync-alt fa-spin reload-icon"></i>
								Rate
							<% end %>
						</div>
						<%= hidden_field_tag "pubId", @publication.id %>
						<%= hidden_field_tag "userId", @user.id %>
						<%= hidden_field_tag "authTokenPaper", @auth_token_paper %>
						<%= hidden_field_tag "authTokenUser", '' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row mt-3 w-100">
		<%= render partial: "shared/footer" %>
	</div>
</div>
</body>
</html>