<h1><%= I18n.t "mails.labels.dear" %> <%= @user.first_name %>,</h1>
<%= I18n.t "mails.password.reset_successful" %> <strong><%= @new_password %></strong>
<br/>
<br/>
<%= I18n.t "mails.password.edit_first_access" %>
<br/>
<br/>
<%= I18n.t "mails.labels.cheers" %>
<br/>
<br/>
<%= I18n.t "mails.labels.team" %>