<h1><%= I18n.t "mails.labels.dear" %> Readersourcing Administrator,</h1>
<%= I18n.t "mails.contact.message" %>
<br/>
<br/>
<%= "------------------------------------------------------" %>
<br/>
<br/>
<%= @message %>
<br/>
<br/>
<%= "------------------------------------------------------" %>
<br/>
<br/>
<%= I18n.t "mails.report.user_mail" %><strong><%= @mail %></strong>
<br/>
<br/>
<%= I18n.t "mails.labels.cheers" %>
<br/>
<br/>
<%= I18n.t "mails.labels.team" %>