<h1><%= I18n.t "mails.labels.dear" %> <%= @user.first_name %>,</h1>
<p>
	<%= I18n.t "mails.password.reset_successful" %> <strong><%= @new_password %></strong>
</p>
<p>  <%= I18n.t "mails.password.edit_first_access" %></p>
<p><%= I18n.t "mails.labels.cheers" %></p>
<p><%= I18n.t "mails.labels.team" %></p>