<h1><%= I18n.t "mails.labels.dear" %> <%= @user.first_name %>,</h1>
<%= I18n.t "mails.password.update_successful" %>
<br/>
<br/>
<%= I18n.t "mails.labels.cheers" %>
<br/>
<br/>
<%= I18n.t "mails.labels.team" %>