<!DOCTYPE html>
<html lang="it">
<head>
	<%= csrf_meta_tags %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<%= stylesheet_link_tag 'application' %>
	<title>RS_Server</title>
</head>
<body>
<div class="preloader-wrapper">
	<div class="preloader">
		<img src="<%= image_path("preloader.svg") %>" alt="Loading...">
	</div>
</div>
<div class="min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<%= render partial:'shared/menu', locals: {active: "password-update", appearance: "dark"} %>
	</div>
	<div class="row m-auto">
		<div class="col-12">
			<div class="heading text-center">
				<h4>Readersourcing 2.0</h4>
				<p class="lead mb-0">You will get a confirmation email.</p>
			</div>
		</div>
		<div class="col-lg-8 col-sm-8 col-xs-12 m-auto">
			<form id="password-edit-form" data-parsley-validate>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="current-password">Current Password</label>
							<input id="current-password" type="password" class="form-control" placeholder="" data-parsley-minlength="6" required>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="new-password">New Password</label>
							<input id="new-password" type="password" class="form-control" placeholder="" data-parsley-minlength="6" data-parsley-password required>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="new-password-confirmation">New Password (Confirmation)</label>
							<input id="new-password-confirmation" type="password" class="form-control" placeholder="" data-parsley-minlength="6" data-parsley-password required>
						</div>
					</div>
					<div class="col-12 text-center">
						<section class="errors-sect text-left">
							<div role="alert" class="alert alert-danger"></div>
						</section>
						<button type="submit" id="password-edit-btn" class="btn btn-success btn-block">
							Edit
							<i id="check-icon" class="fa fa-check"></i>
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</button>
						<button type="button" class="btn btn-danger error-btn btn-block">
							<i class="fas fa-exclamation-triangle danger-icon"></i>
							Error
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row w-100 mt-3">
		<%= render partial: "layouts/footer" %>
	</div>
</div>
<%= render partial:'shared/modal_profile' %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "menu" %>
<%= javascript_include_tag "password_update" %>
</body>
</html>