<!DOCTYPE html>
<html lang="en">
<%= render partial: 'shared/assets' %>
<body class="bg-gray-dark color-white">
<div class="w-100">
	<%= render partial: 'shared/menu', locals: {active: "home", appearance: "light"} %>
</div>
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="heading text-uppercase">Readersourcing</h1>
		<h2 class="text-uppercase">Crowdsourcing in Scholarly Peer Review</h2>
		<h3>An independent, third-party, no-profit, academic project aimed at quality rating of scholarly literature and scholars.</h3>
	</div>
</div>
<div id="home-page" class="container">
	<div class="row">
		<div class="col-lg-6 col-xs-12 mt-4">
			<div class="heading text-center">
				<h1>Rate a publication</h1>
			</div>
			<p class="lead text-justify mb-2">
				Enter the url of the publication'.pdf' you want to evaluate, and express your score from 0 to 100.<br>
				If you haven't finished reading yet, you can annotate the pdf with a link that will allow you to express your rating later.<br>
				Your rating weighs in relation to your reader score and your reader score depends on your ability to correctly evaluate the publications (more details).<br>
				You can also choose to vote anonymously (in this case your reader score will not change).<br>
			</p>
		</div>
		<div class="col-lg-6 col-xs-12 mt-4 text-center">
			<img src="<%= asset_path("rating-section.png") %>" alt="Rating Section">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-xs-12 mt-4 text-center">
			<img class="img-fluid" src="<%= asset_path("publication-table.png") %>" alt="Publication Table">
		</div>
		<div class="col-lg-6 col-xs-12 mt-4">
			<div class="heading text-center">
				<h1>Browse ratings</h1>
			</div>
			<p class="lead text-justify mb-2">
				Browse the list of publications that have already received at least one score. You can download the annotated pdf and evaluate
				them by contributing to the final score.<br> You can also browse the list of readers, see their score and download the annotated
				PDFs of the publications they have rated.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-xs-12 mt-4">
			<div class="heading text-center">
				<h1>Install the browser extension</h1>
			</div>
			<p class="lead text-justify mb-2">
				If you install the Chrome extension of Readersourcing, you can evaluate publications directly from your browser.
			</p>
		</div>
		<div class="col-lg-6 col-xs-12 mt-4 mb-2 text-center">
			<a href="https://chrome.google.com/webstore/detail/readersourcing-20-rsrate/hlkdlngpijhdkbdlhmgeemffaoacjagg?hl=it" target="_blank">
				<img class="img-fluid" alt="Available on Chrome Webstore" src="<%= image_path("chrome-webstore-badge.png") %>">
			</a>
		</div>
	</div>
</div>
<%= render partial: "shared/footer" %>
</body>
</html>