<!DOCTYPE html>
<html lang="en">
<%= render partial: 'shared/assets' %>
<body class="bg-gray-dark color-white">
<div id="home-page" class="min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<%= render partial: 'shared/menu', locals: {active: "home", appearance: "light"} %>
	</div>
	<div class="row w-100 m-auto">
		<div class="col-12">
			<div class="heading text-center">
				<h1>Readersourcing 2.0</h1>
			</div>
		</div>
		<div class="col-12 mb-3">
			<div class="col-lg-6 col-sm-10 col-xs-12 m-auto">
				<p class="lead text-justify mb-1">
					<strong>Readersourcing.org</strong> is an independent, third-party, non-profit, academic/scientific endeavour, aimed at quality rating of both scholarly
					literature and scholars.
				</p>
			</div>
		</div>
		<div class="col-12">
			<div class="heading text-center">
				<h1>How To</h1>
			</div>
		</div>
		<div class="col-12 mb-3">
			<div class="col-lg-6 col-sm-10 col-xs-12 m-auto">
				<p class="lead text-justify mb-2">
					To start exploiting the Readersourcing 2.0 ecosystem, you can freely sign up and perform the login through this web interface.
					Once you become a registered user, you can actively participate within the system by rating publications from other authors.
					Doing so will improve your authority. To find out more about this ecosystem, its internals and its virtuous dynamics
					<a class="link-white" href="<%= resources_path %>">check out the <strong>About/Resources</strong> page</a>.
				</p>
			</div>
		</div>
		<div class="col-12">
			<div class="heading text-center">
				<h1>Software</h1>
			</div>
		</div>
		<div class="col-12 mb-3">
			<div class="col-lg-6 col-sm-10 col-xs-12 m-auto">
				<p class="lead text-justify mb-2">
					The Readersourcing 2.0 ecosystem provides software which allow to exploit its functionalities even without being on this website.
					To provide an example, a browser extension which allows the reader to rate a publication directly from its browser is available.
					To find out more about the available software, <a class="link-white" href="<%= resources_path %>">check out the <strong>About/Software</strong> page</a>.
				</p>
			</div>
		</div>
	</div>
	<div class="row w-100 mt-3">
		<%= render partial: "shared/footer" %>
	</div>
</div>
</body>
</html>