<!DOCTYPE html>
<html lang="it">
<head>
	<%= csrf_meta_tags %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<%= stylesheet_link_tag 'application' %>
	<title>RS_Server</title>
</head>
<body class="bg-gray-dark">
<div class="preloader-wrapper">
	<div class="preloader">
		<img src="<%= image_path("preloader.svg") %>" alt="Loading...">
	</div>
</div>
<div class="container color-white min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="mb-3"></div>
	<div class="row mt-auto mb-3">
		<div class="col-12">
			<div class="heading text-center">
				<h4>Readersourcing 2.0</h4>
				<p class="lead mb-0">Welcome, choose your action</p>
			</div>
		</div>
		<div class="col-8 m-auto">
			<a href="<%= login_path %>" id="login-btn" class="btn btn-primary btn-block link-white">
				Login
				<i id="sign-in-icon" class="fa fa-sign-in"></i>
				<i class="fas fa-sync-alt fa-spin reload-icon"></i>
			</a>
		</div>
		<div id="buttons-caption" class="col-8 text-center mt-3 mr-auto ml-auto mb-auto">
			<p class="lead mb-3">Otherwise</p>
		</div>
		<div class="col-8 m-auto">
			<a href="<%= sign_up_path %>" id="sign-up-btn" class="btn btn-primary btn-block link-white">
				Sign Up
				<i id="sign-up-icon" class="fa fa-user-plus"></i>
				<i class="fas fa-sync-alt fa-spin reload-icon"></i>
			</a>
		</div>
	</div>
	<div class="row mt-auto ml-auto mr-auto mb-0 w-100">
		<%= render partial: "layouts/footer" %>
	</div>
</div>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "home" %>
</body>
</html>