<!DOCTYPE html>
<html lang="it">
<head>
	<%= csrf_meta_tags %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<%= stylesheet_link_tag 'application' %>
	<title>RS_Server</title>
</head>
<body class="bg-gray-dark">
<div class="preloader-wrapper">
	<div class="preloader">
		<img src="<%= image_path("preloader.svg") %>" alt="Loading...">
	</div>
</div>
<div class="color-white min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<%= render partial: 'shared/menu', locals: {active: "home", appearance: "light"} %>
	</div>
	<div class="row m-auto">
		<div class="col-12">
			<div class="heading text-center">
				<h1>Readersourcing 2.0</h1>
			</div>
		</div>
		<div class="col-12 mb-3">
			<div class="col-lg-6 col-sm-12 col-xs-12 m-auto">
				<p class="lead text-justify mb-1">
					This ecosystem has been presented for the first time during the IRCDL 2019 Conference and provides
					and
					implementation of the Readersourcing approach which is proposed as an alternative to the standard
					peer review activity of scientific publications that aims to exploit the otherwise lost opinions
					of readers.
					<br/> The original paper and the documentation can be read on Zenodo, while the code is available on
					GitHub.
				</p>
				<p class="text-center">
					<a href="https://ircdl2019.isti.cnr.it/" target="_blank"><img src="https://img.shields.io/badge/IRCDL%202019-Conference-yellow.svg"></a>
					<a href="https://doi.org/10.5281/zenodo.1446468" target="_blank"><img src="https://img.shields.io/badge/Zenodo-Paper-blue.svg"></a>
					<a href="https://github.com/Miccighel/Readersourcing-2.0" target="_blank"><img src="https://img.shields.io/badge/GitHub-Code-lightgrey.svg"></a>
				</p>
			</div>
		</div>
		<div class="col-12">
			<div class="heading text-center">
				<h1>How To</h1>
			</div>
		</div>
		<div class="col-12 mb-3">
			<div class="col-lg-6 col-sm-12 col-xs-12 m-auto">
				<p class="lead text-justify mb-2">
					To take advantage of this ecosystem, sign up and login through this web interface. Once done that,
					simply click on the control panel available in the top menu to explore the available
					functionalities.
				</p>
			</div>
		</div>
		<div class="col-12">
			<div class="heading text-center">
				<h1>Browser Extension</h1>
			</div>
		</div>
		<div class="col-12 mb-3">
			<div class="col-lg-6 col-sm-12 col-xs-12 m-auto">
				<p class="lead text-justify mb-2">
					RS_Rate is an extension for Google Chrome available on its store. It is a client that readers of
					scientific publications can use to rate them directly from the browser without the need of using
					this web interface.
				</p>
				<p class="text-center">
					<a href="https://chrome.google.com/webstore/detail/readersourcing-20-rsrate/hlkdlngpijhdkbdlhmgeemffaoacjagg?hl=it" target="_blank">
						<img class="img-responsive" src="<%= image_path("chrome-webstore-badge.png") %>">
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row mt-3 w-100">
		<%= render partial: "shared/footer" %>
	</div>
</div>
<%= render partial: 'shared/modal_profile' %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "menu" %>
<%= javascript_include_tag "home" %>
</body>
</html>