<!DOCTYPE html>
<html lang="it">
<head>
	<%= csrf_meta_tags %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<%= stylesheet_link_tag 'application' %>
	<title>RS_Server</title>
</head>
<body>
<div class="container min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="container mb-3">
		<div class="row">
			<div class="col-12 p-0">
				<section id="buttons-sect bg-primary">
					<button type="button" id="back-btn" class="btn btn-primary w-100">
						<i id="back-icon" class="fa fa-arrow-left"></i> Back
						<i class="fas fa-sync-alt fa-spin reload-icon"></i>
					</button>
				</section>
			</div>
		</div>
	</div>
	<div class="row mt-auto mb-3">
		<div class="col-12">
			<section id="success-sect" class="col-lg-4 col-sm-12 col-xs-12 ml-auto mr-auto p-0">
				<div role="alert" class="alert alert-success"></div>
			</section>
			<div class="heading text-center">
				<h4>Readersourcing 2.0</h4>
				<p class="lead mb-0">Insert your login data</p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-8 col-xs-12 m-auto">
			<form id="login-form" data-parsley-validate>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="email">Email <span class="small">(e.g. address@example.com)</span></label>
							<input id="email" type="text" class="form-control" placeholder="" data-parsley-type="email" required>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="password">Password</label>
							<input id="password" type="password" class="form-control" placeholder="" data-parsley-minlength="6" required>
						</div>
					</div>
					<div class="col-12">
						<hr class="mb-2 mt-0"/>
					</div>
					<div class="col-12 pt-1">
						<p class="text-sm text-center">
							<small><a href="<%= forgot_path %>">Did you forget your password?</a></small>
							<br/>
							<small><a href="<%= sign_up_path %>">Do you want to create a new account?</a></small>
						</p>
					</div>
					<div class="col-12 text-center">
						<section id="errors-sect" class="text-left">
							<div role="alert" class="alert alert-danger"></div>
						</section>
						<button type="submit" id="login-btn" class="btn btn-success btn-block">
							Login
							<i id="sign-in-icon" class="fa fa-sign-in"></i>
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</button>
						<button type="button" class="btn btn-danger error-btn btn-block">
							<i class="fa fa-exclamation-triangle danger-icon"></i>
							Error
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row mt-auto ml-auto mr-auto mb-0 w-100">
		<%= render partial: "layouts/footer" %>
	</div>
</div>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "login" %>
</body>
</html>