<!DOCTYPE html>
<html lang="it">
<head>
	<%= csrf_meta_tags %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/r-2.2.2/rr-1.2.4/datatables.min.css"/>
	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag "application" %>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/cr-1.5.0/r-2.2.2/rr-1.2.4/datatables.min.js"></script>
	<%= javascript_include_tag "home" %>
	<title>RS_Server</title>
</head>
<body>
<div id="login-page" class="min-h-100 d-flex flex-column align-items-center justify-content-center">
	<div class="w-100 mb-3">
		<%= render partial: 'shared/menu', locals: {active: "login", appearance: "dark"} %>
	</div>
	<div class="row w-100 m-auto">
		<div class="col-12">
			<section id="success-sect" class="col-lg-4 col-sm-8 col-xs-12 m-auto p-0">
				<div role="alert" class="alert alert-success"></div>
			</section>
			<div class="heading text-center">
				<h4>Readersourcing 2.0</h4>
				<p class="lead mb-0">Insert your login data</p>
			</div>
		</div>
		<div class="col-lg-4 col-sm-8 col-xs-12 m-auto">
			<form id="login-form" data-parsley-validate>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="email">Email <span class="small">(e.g. address@example.com)</span></label>
							<input id="email" type="text" class="form-control" placeholder="" data-parsley-type="email" required>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							<label for="password">Password</label>
							<input id="password" type="password" class="form-control" placeholder="" data-parsley-minlength="6" required>
						</div>
					</div>
					<div class="col-12">
						<hr class="mb-2 mt-0"/>
					</div>
					<div class="col-12 pt-1">
						<p class="text-sm text-center">
							<small><a href="<%= forgot_path %>">Did you forget your password?</a></small>
							<br/>
							<small><a href="<%= sign_up_path %>">Do you want to create a new account?</a></small>
						</p>
					</div>
					<div class="col-12 text-center">
						<section class="errors-sect text-left">
							<div role="alert" class="alert alert-danger"></div>
						</section>
						<button type="submit" id="do-login-btn" class="btn btn-success w-35">
							Login
							<i class="fas fa-sign-in-alt sign-in-icon"></i>
							<i class="fas fa-sync-alt fa-spin reload-icon"></i>
						</button>
						<button type="button" class="btn btn-danger error-btn w-35">
							<i class="fa fa-exclamation-triangle danger-icon"></i>
							Error
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row w-100 mt-3">
		<%= render partial: "shared/footer" %>
	</div>
</div>
</body>
</html>